* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans 3', sans-serif;
}

.wrapper {
  background-color: #001d37;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

header {
  color: #fff;
  padding-top: 6rem;
  padding-bottom: 4rem;
  margin-bottom: 5rem;
  over-flow: hidden;
}

.top-section {
  max-width: 66.625rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.top-section h1 {
  font-size: 4rem;
  line-height: 97.3%;
  max-width: 32.8125rem;
}

.intro-text {
  font-size: 1.5rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 27.1875rem;
}

.bottom-section {
  margin: 0;
}

.intro-buttons {
  margin-bottom: 4.0625rem;
}

@media screen and (min-width: 580px) {
  .intro-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .intro-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.intro-feature {
  padding: 33px 25px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.intro-feature p {
  font-size: 1.0625rem;
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 3px 0;
}

.features button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.view-btn {
  padding: 0.75rem 1.5625rem;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  background-color: #475aff;
  border: 2px solid #475aff;
  margin: 2rem 0;
  color: #fff;
  transition: background-color .3s ease-out, border .3s ease-out;
}

.view-btn:hover {
  background-color: #2E40E2;
  border: 2px solid #2E40E2;

}

.manage-btn {
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  margin: 2rem 1rem;
  transition: background-color .3s ease-out, border .3s ease-out, color .3s ease-out;
}

.manage-btn:hover {
  background-color: white;
  color: #475aff;
  border: 2px solid #fff;
}

.circle {
  width: 617px;
  height: 617px;
  background-color: #d660ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: 62px;
  right: -390px;
}

.circle-2 {
  width: 617px;
  height: 617px;
  background-color: #6079ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: -365px;
  left: -123px;
}

/* Pets Available */
.page-section {
  background-color: #fff;
  padding: 4.375rem 0 4.375rem 1rem;
  margin: 0;
}

.page-section h2 {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.page-section-inner {
  max-width: 66.625rem;
  margin; 0 auto;
}

.pet-filter {  
  font-size: 1.15rem;
  color: #9F9F9F;
}

.pet-filter button {
  background-color: transparent;
  border: none;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.15rem;
  color: #9F9F9F;
  margin-left: 1rem;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: background-color .3s ease-out, border .3s ease-out, color .3s ease-out;
}

.pet-filter .active {
  color: #475AFF;
  text-decoration: underline;
}

.pet-filter .active-dark:hover {
  color: #4d4d4d;
}

.choose-pet {
  display: flex;
}

.list-of-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 2.2rem;
  row-gap: 1.75rem;
}

.pet-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 10.3125rem 1fr;
  border-radius: 20px;
  border: 1px solid #F3F3F3;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.pet-card-photo {
  order: 1;
  grid-row: 1;
}

.pet-card-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-card-text {
  padding: 1.2rem 1.2rem;
}

.pet-card-text h3 {
  color: #000;
  margin: 0 0 5px 0;
  font-size: 1.626rem;
  font-weight: 600;
}

.pet-card p {
  font-size: 1.15rem;
}

.pet-description {
  color: #626262;
  line-height: 150%;
  margin: 0 0 1rem 0;
}

.pet-age {
  color: #A2A2A2;
  font-size: .85rem;
  margin: 0;
}

/* Footer */
.site-footer {
  text-align: center;
  color: #A6A6A6;
  font-size: .875rem;
  margin: 0;
  padding: 0 0 65px 0;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  header {
    padding-top: 8.6875rem;
  }

  .page-section h2 {
    font-size: 5.31rem;
  }

  .page-section {
    padding: 130px 16px;
    margin: 0 12rem;
  }

  .intro-text {
    font-size: 1.25rem;
    line-height: 169.3%;
    margin: 1rem 0;
    max-width: 27.1875rem;
  }

  .intro-buttons {
    margin-bottom: 8.0625rem;
  }

  .bottom-section {
    margin: 2rem 0 0 0;
  }
  
    .top-section {
      padding-top: 5rem;
      padding-bottom: 5rem; 
    }
  
    .top-section h1 {
      font-size: 6.25rem;
    }

    .pet-filter {  
      font-size: 1.375rem;
    }
    
    .pet-filter button {
      font-size: 1.375rem;
  }

  .list-of-pets {
    row-gap: 1.25rem;
  }
}